body {
	background-image: url(landingimage.jpg);
	background-size: cover;
	}

div {
	margin-top: 20%;
	font-size: 500%;
}
h1 {

	color: gold;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	font-size: 800%;
	/*font-family: "Times New Roman", Georgia;*/
	/*font-family: 'Pacifico', cursive;*/
	/*font-family: 'Pacifico', cursive;*/
/*font-family: 'Dancing Script', cursive;*/
font-family: 'Pacifico', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Shadows Into Light', cursive;
}
.container {
	display: flex;
	justify-content: center;
	margin-top: 1%;
	border-radius: 10px;
}
/*.btn-danger {
	justify-content: center;
	align-items: center;
}*/